.new-products {
    width: 100%;
    margin-bottom: 4%;
}

.new-products-container {
    width: 92%;
    margin: auto;
}

.new-products-flex {
    width: 100%;
    padding: 18px 0;
    background-color: #DD315E;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-products-banner {
    width: 230px;
    text-align: center;
    padding: 1% 0;
}

.new-products-banner h3 {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #ffff;
    font-size: 20px;
}

.new-products-banner img {
    width: 150px;
}

.new-products-box {
    width: 100%;
    margin: auto;
    padding: .2% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    overflow-x: scroll;
}