.products {
    width: 92%;
    padding-bottom: 2%;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 2%;
}


.products-container h3 {
    padding: 1% 1%;
    color: var(--main-color);
}

.products-flex {
    display: flex;
    flex-wrap: wrap;
}