.guidelines {
    margin: 50px 0;
    width: 92%;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.216);
}

.guidelines-container {
    width: 95%;
    margin: auto;
}

.guidelines-header{
    padding: 1% 0;
    margin-bottom: 30px;
}

.guidelines-header h1 {
    font-size: 21px;
    padding: .5%;
}