.form {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.263);
    z-index: 1;
}

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 430px;
    background-color: #ffff;
    padding: 1% 1%;
    border-radius: 8px;
    animation: formAni 0.2s ease-in 1;
}

@keyframes formAni {
    0% {
        transform: translate(0, -700px);
    }
}

.form-flex svg {
    font-size: 30px;
    cursor: pointer;
    color: var(--main-color);
}

.form-flex svg:hover {
    background-color: #05396a36;
    transition: .3s;
}

.form-flex h2 {
    font-size: 18px;
    padding: 2% 0;
    border-bottom: 4px solid var(--main-color);
}

.form-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
}

.form-footer {
    padding: 2% 0;
    text-align: center;
}

.form-footer button {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    background-color: #ed2525;
    cursor: pointer;
}

.form-footer button:hover {
    transition: .3s;
    background-color: #ed2525de;
}