header {
    padding: 0.5% 0;
    border-bottom: 4px solid var(--main-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.271);
}

.header-container {
    width: 95%;
    margin: auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search {
    text-align: center;
}

.header-options,
.header-search,
.header-logo {
    width: 33%;
}

.header-logo {
    text-align: left;
}

.header-options {
    display: flex;
    align-items: center;
}

header svg {
    width: 21px;
    height: 21px;
}
