.loading {
    width: 100%;
    height: 101vh;
    position: fixed;
    top: 0;
    background-color: #ffffffba;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.022);
    border-left-color: rgb(245, 68, 68);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}